* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: #fac7c1;
  min-height: 100vh; /* Ensure the container takes up at least the full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

#maindiv {
  background-color: #ffa07a;
  width: 90%; /* Use relative width for better responsiveness */
  max-width: 600px; /* Set a maximum width to avoid content stretching too wide */
  height: auto; /* Allow the height to adjust based on content */
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px; /* Add padding for better spacing */
}

h3 {
  color: rgb(149, 5, 5);
  text-decoration: underline;
  font-weight: bolder;
}

p {
  color: rgb(237, 227, 227);
  text-shadow: 2px 4px 5px black;
  font-weight: bolder;
  font-size: smaller;
}

.total {
  background-color: #f9c1be;
  padding: 20px;
  border-radius: 29px;
  border: 2px ridge #fbc9c4;
  box-shadow: inset 4px 4px 4px 4px #c28b87;
  margin-top: 20px; /* Add margin for spacing */
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media query for screens with a maximum width of 768px */
@media only screen and (max-width: 768px) {
  .App {
    padding: 20px;
  }

  #maindiv {
    width: 100%; /* Adjust width to fill the entire viewport */
    border-radius: 10px; /* Reduce border radius for smaller screens */
  }

  .total {
    margin-top: 10px; /* Reduce margin for spacing */
  }
}
